body {
    margin: 0px;
}
.container {
    display: flex;
    height: 100vh;
}
.container_img{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5%;
}
.container_img img:nth-child(2){
    display: none;
}
.container_form{
    width: 55%;
    background-color: #FBFBFB;
    padding: 0px 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 70px;
}
.sign-in {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
}
.sign-in a {
    color: #009DDC;
    cursor: pointer;
}

h1{
    margin: 0px;
    width: 100%;
    font-family: 'Lato';
    font-size: 48px;
    font-weight: 700;
    color: #242331;
    margin-bottom: 48px;
}
h1 span {
    color: #009DDC;
}
form {
    margin: 0px 85px;
}

.form-control{
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}
.mb-48 {
    margin-bottom: 48px;
}
.form-control input {
    border-radius: 8px;
    width: 100%;
    padding: 12px 16px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: #A6A0A0;
    border: 1px solid #C5C5C5;
}
.form-control input::placeholder{
    color: #A6A0A0;
}
.form-control span {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 500;
    color: #23222D;
    margin-top: 8px;
    width: 100%;
}
.form-control input:focus {
    border: 1px solid #009DDC;
    outline: none;
}


button[type="submit"]{
    width: 100%;
    border-radius: 8px;
    background-color: #009DDC;
    border: none;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 16px;
    padding: 14px;
    color: white;
    margin-bottom: 38px;
    cursor: pointer;
}
.linea {
    margin: 0px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato';
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
}
.linea::before{
    border-top: 2px solid #C5C5C5;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.linea span {
    background-color: #FBFBFB;
    padding: 0px 16px;
    color: #A6A0A0;
}
button[type="button"]{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #C5C5C5;
    padding: 14px;
    font-family: 'Lato';
    font-weight: 500;
    color: #23222D;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
}
button[type="button"] span {
    padding: 0px 8px;
}

@media (max-width:576px){ /*Movil*/
    .container{
        display: block;
    }
    .container_img{
        width: 100%;
        padding: 0px;
    }
    .container_img img:nth-child(1) {
        display: none;
    }
    .container_img img:nth-child(2){
        display: block;
        width: 100%;
    }
    .container_form{
        width: 100%;
        padding: 0px;
        background-color: transparent;
    }
    form {
        margin: 0px;
        padding: 0px 24px;
    }
    .header{
        margin: 20px 0px;
        padding: 0px 24px;
    }
    .sign-in{
        font-size: 16px;
    }
    h1 {
        font-size: 32px;
    }
    button{
        padding: 10px!important;
    }
    button[type="button"] i {
        display: flex;
        align-items: center;
    }
    .linea::before{
        border-top: 1px solid #C5C5C5;
    }
    .linea span {
        background-color: white;
    }
}
@media (min-width:577px) and (max-width:768px) {/*Tablet*/
    .container_img{
        display: none;
    }
    .container_form{
        width: 100%;
    }
}
@media (min-width:769px) and (max-width:1200px) {/*Laptop Normal*/
    .container_img img {
        width: 100%;
        height: auto;
    }
    .container_form {
        padding: 0px 40px;
    }
    form {
        margin: 0px 30px;
    }
}
@media (min-width: 1201px){/*Pantalla grande*/
    .container_img {
        padding: 0px 7%;
    }
    .container_img img {
        width: 100%;
    }
    form {
        padding: 0px 100px;
    }
    h1 {
        font-size: 68px;
    }
    .form-control input {
        font-size: 22px;
    }
    .form-control span {
        font-size: 18px;
    }
    button {
        font-size: 24px!important;
    }
    .linea span {
        font-size: 24px;
    }
    .sign-in {
        font-size: 24px;
    }
    .header img {
        width: 37px;
        height: 37px;
    }
    .form-control{
        margin-bottom: 35px;
    }
    button[type="button"] i {
        display: flex;
        align-items: center;
    }
}